<!--
    routerLinkActive:
        quando il percorso Router di quell'elemento è attivo, assegna la classe CSS assegnata.
        Es. routerLinkActive="active" assegna la classe CSS 'active' all'elemento in caso sia attivo

    routerLinkActiveOptions:
        serve a dire se attivare sia il default sia questo elemento.

    routerLink:
        serve per assegnare al componente il suo percorso routing.

    [routerLink]:
        con le quadre, possiamo sia assegnare il percorso routing sia passare
        eventuali parametri.

-->
<div>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">GET</a>
    <a routerLink="/post" routerLinkActive="active">POST</a>
</div>

<router-outlet></router-outlet>